.navbar {
  background: #563d7c;
}

.wrapper-2-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.wrapper-3-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.wrapper-4-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.wrapper-5-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.employee-card-header {
  background-color: #00688b;
}
.asset-card-header {
  background-color: #2ab0b9;
}
.asset-card-body {
  background-color: #ccc3ea;
}
